
#descriptors{
    border: 3px black solid;
    margin: 5px;
    padding: 3px;
    background-color: white;
    margin-top: 20px;
    font-size: .75em;
    width: 100%;
}

.descriptor{
    background-color: white;
}

#searchbar{
    height: 2.5em;
    width: 20em;
    margin: 10px;
    background-color: lightgray;
}
